
.repl {
    text-shadow: none;
    color: #333;
    background: #f8f8f8;
    padding: 0;
    text-align: left;

    osition: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.repl code {
    position: absolute;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f8f8f8;
}

pre {
    margin: 0;
}

#fengari-console {
    padding: 11px 16px;
    display: block;
}

#fengari-input {
    display: inline-block;
    width: 90%;
    height: 11px; /* start off one line tall */
    padding-left: 0;
    background: transparent;
    border: none;
    margin: 20px 0;
    outline: none;
}

#fengari-input-prefix {
    display: inline-block;
}

@media screen and (max-width : 800px) {

    .repl {
        width: 100%;
    }

}
